<div class="test-cont" style="display: none;">
	<div class="g-popup__content">
		<div class="g-popup__close" onclick="mainObj.gPopup.close()">
			{% include 'assets/svg/close.svg' %}
		</div>

		<h2 class="_value">Возможный контент</h2>
	</div>
</div>

