<section>
	<div class="main-unit container">
		<div class="main-unit-wrap">
			<div class="main-unit__item main-unit__item-first">
				<div class="main-unit__item-date container-flex">
					<p>Категория 1</p>
					<p>13 дек 2020</p>
				</div>
				<h1>Управление ИТ-активами – скучная рутина или творческая задача?</h1>
				<p class="main-unit__item-text">Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще. </p>
			</div>
			<div class="main-unit__flex-one">
				<div class="main-unit__item">
					<div class="main-unit__item-date container-flex">
						<p>Категория 1</p>
						<p>13 дек 2020</p>
					</div>
					<h2>Управление ИТ-активами – скучная рутина или творческая задача?</h2>
					<p class="main-unit__item-text ">Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще. </p>
				</div>
				<div class="main-unit__item main-unit__item--color main-unit__item--Bg">
						<div class="main-unit__title-wrap">			
							<p>Категория 1</p>
							<h2>ITAM&SAMDay – самая настоящая удача!</h2>
						</div>
						<p>13 дек 2020</p>
				</div>
			</div>


			<div class="main-unit__item-visible">
				<div class="main-unit__item main-unit__item--color" style="background-image: url('images/Group39.png'); background-repeat: no-repeat; background-size: cover;">
			        <div class="main-unit__title-wrap main-unit__title-wrap--color">
			          <span>Очень длинная категория 2</span>
			          <h2>Управление ИТ-активами – скучная рутина или творческая задача слово слово и еще длинное слово после чего ...</h2>
			        </div>
			        <p>13 дек 2020</p>
			    </div>
			    <div class="main-unit__item-flex">
				    <div class="main-unit__item">
						<div class="main-unit__item-date  container-flex">
							<p>Категория 1</p>
							<p>13 дек 2021</p>
						</div>
						<h2>Управление ИТ-активами – скучная рутина или творческая задача?</h2>
						<p class="main-unit__item-text main-unit__item-text--none">Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще. </p>
					</div>
					<div class="main-unit__item main-unit__item--color main-unit__item--Bg">
							<div class="main-unit__title-wrap">			
								<p>Категория 1</p>
								<h2>ITAM&SAMDay – самая настоящая удача!</h2>
							</div>
							<p>13 дек 2020</p>
					</div>
				</div>
		     </div>


			<div class="main-unit__flex-two">
				<div class="main-unit__item main-unit__item--color main-unit__item--Bg">
						<div class="main-unit__title-wrap">
							<p>Категория 1</p>
							<h2>ITAM&SAMDay – самая настоящая удача!</h2>
						</div>
						<p>13 дек 2020</p>
				</div>
				<div class="main-unit__flex-aux">
					<div class="main-unit__item">
						<div class="main-unit__item-date  container-flex">
							<p>Категория 1</p>
							<p>13 дек 2020</p>
						</div>
						<h2>Управление ИТ-активами – скучная рутина или творческая задача?</h2>
						<p class="main-unit__item-text main-unit__item-text--none">Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще. </p>
					</div>
					<div class="main-unit__item">
						<div class="main-unit__item-date container-flex">
							<p>Категория 1</p>
							<p>13 дек 2020</p>
						</div>
						<h2>Управление ИТ-активами – скучная рутина или творческая задача?</h2>
						<p class="main-unit__item-text main-unit__item-text--none">Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще. </p>
					</div>
				</div>
			</div>
				
				<div class="main-unit__pagination container">
			        <ul class="main-unit__pagination-list">
			          <li class="main-unit__pagination-item _pagItem">1</li>
			          <li class="main-unit__pagination-item _pagItem">2</li>
			          <li class="main-unit__pagination-item _pagItem">3</li>
			          <li class="main-unit__pagination-item _pagItem">4</li>
			          <li class="main-unit__pagination-item _pagDots">...</li>
			          <li class="main-unit__pagination-item _mul">10</li>
			        </ul>
			        <!-- <div class="main-unit__pagination-points">...</div> -->
			        <button class="main-unit__nextBtn _nextBtn">
			          <span>Следующая</span>
			          {% include 'assets/svg/pagi.svg' %}
			        </button>
      			</div>

      			<button class="show-more__btn _show-more__btn">
					<span>Показать еще 6</span>
					{% include 'assets/svg/loading.svg' %}
				</button>
		</div>

		<div class="main-unit__SubscribeNews-wrap">
			<div class="main-unit__news">
				<h2>Популярные новости</h2>
				<div class="main-unit__news-wrap">
					<div class="main-unit__news-item">
						<p>ITAM&SAMDay – самая настоящая удача!</p>
						<span>13 дек 2020</span>
					</div>

					<div class="main-unit__news-line"></div>

					<div class="main-unit__news-item">
						<p>Секреты лицензирования. Всё, что вы хотели знать про Microsoft, SAP и ...</p>
						<span>10 дек 2020</span>
					</div>

					<div class="main-unit__news-line"></div>

					<div class="main-unit__news-item">
						<p>Менеджмент XXI века. Надо ли готовиться к изменениям или мы ...</p>
						<span>5 дек 2020</span>
					</div>
				</div>
			</div>
		
			<div class="main-unit__Subscribe-container">
				<div class="main-unit__Subscribe">
					<h2>Подписка на рассылку</h2>
					<form action="" class="main-unit__Subscribe-wrap">
						<input type="text" name="" placeholder="Email@gmail.com" id="">
						<button class="main-unit__Subscribe-btn _mainUnitSubscribeeBtn _questions__btn"  onclick="mainObj.gPopup.open('.questions-pop')">
							<span>Подписаться</span>
							{% include 'assets/svg/arrow.svg' %}
						</button>
					</form>
				</div>
			</div>	
		</div>
	</div>
		<div class="main-unit__Subscribe-container--mob">
				<div class="main-unit__Subscribe--mob">
					<h2>Подписка на рассылку</h2>
					<form action="" class="main-unit__Subscribe-wrap--mob" onsubmit="mainObj.gPopup.open('.questions-pop')">
						<input type="text" name="" placeholder="Email@gmail.com" id="">
						<button class="main-unit__Subscribe-btn--mob _mainUnitSubscribeeBtn--mob _questions__btn">
							<span>Подписаться</span>
							{% include 'assets/svg/arrow.svg' %}
						</button>
					</form>
				</div>
			</div>	
</section>