<footer>
	<div class="footer__wrap container">
		<a href="#" class="header__logo">
			{% include 'assets/svg/headerLogo.svg'%}
		</a>
		<ul class="futer__list">
			<li class="futer__list-item">
				<a href="#">О нас</a>
			</li>
			<li class="futer__list-item">
				<a href="#">Галерея</a>
			</li>
			<li class="futer__list-item">
				<a href="#">Новости</a>
			</li>
			<li class="futer__list-item">
				<a href="#">Контакты</a>
			</li>
		</ul>
		<p>ООО “Организация” 2020. Все права защищены</p>
	</div>
</footer>